@{
    ViewData["Title"] = "Home Page";
}
<div>
    <video id="localVideo" autoplay playsinline> </video>
</div>

<button id="muteButton" class="btn btn-primary">Mute yourself</button>
<button id="cameraButton" class="btn btn-primary">Turn off camera</button>
